footer {
    background-color: #5a6f08;
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 3px solid white;
    color: white;
    height: fit-content;
    position: fixed;
    bottom: 0;

    @media screen and (max-width: 450px) {
        font-size: 9px;
    }
}
